body 
{ 
font-family: sans-serif;
}

a:link 
{
color: #0000C0;
text-decoration: none;
}

a:visited 
{
color: #800080;
text-decoration: none;
}

a:hover 
{
text-decoration: underline;
}

.nav
{
background-color: white;
color: #036;
}

.nav_list
{
padding-bottom: 1em;
list-style-type:circle;
}

.nav_block
{
margin-top:8px;
margin-bottom:8px;
margin-right:8px;
border: 1px solid black;
background-color: #dfe7f3;
}

.nav_title
{
font-size: 1em;
padding-left: 1em;
vertical-align: middle;
background-color: #418ade;
border-top: 0.3em solid #418ade;
border-bottom: 0.3em solid #418ade;
color: white;
margin-top: 0;
}

.ne_first
{
color: white;
background-color: #418ade;
}

.ne_second
{
background-color: #dfe7f3;
}

.ne_third
{
color:#418ade;
font-weight:bolder;
}

.content, .content table
{
padding: 10px;
font-size:10pt;
}

h1, h2, h3, h4, h5, h6
{
color:#418ade;
}

.grid_head, .grid_head td, .grid_head th
{
color: white;
background-color: #418ade;
font-weight:bolder;
border:1px solid white;
border-collapse:collapse;
}

.grid_first, .grid_first td
{
background-color: #e0e0ff;
border:1px solid white;
border-collapse:collapse;
}

.grid_second, .grid_second td
{
background-color: #eeeeff;
border:1px solid white;
border-collapse:collapse;
}