<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="netester" type="Ne.Configuration.NeTesterConfigurationSection, NeCommon" />
	</configSections>
	<log4net>

		<appender name="CApp" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="Green, HighIntensity" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<foreColor value="Yellow, HighIntensity" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="CApp" />
		</root>
	</log4net>

	<system.runtime.remoting>
		<application name="NeTester">
			<service>
				<wellknown 
						mode="SingleCall" 
						type="Ne.Tester.NeTesterImplementation, NeTester" 
						objectUri="Tester.rem" />
			</service>
			<channels>
				<channel ref="tcp" port="8008" />
			</channels>
		</application>
	</system.runtime.remoting>

	<netester ConnectionString="Server=KANTOROV\SQLEXPRESS;Database=NeJudge;Trusted_connection=true"
					ProviderPath="D:\Projects\C#\notFinished\NeJudge\branches\2.0\Providers\MsSqlDataProvider\bin\Debug\Provider.dll">
		<ContestTypeHandlers>
			<add ContestType="ICPC" AssemblyPath="D:\Projects\C#\notFinished\NeJudge\branches\2.0\ICPCHandler\bin\Debug\ICPCHandler.dll" />
		</ContestTypeHandlers>
	</netester>

	<appSettings>
		<add key="TesterRoot" value="D:\Projects\C#\notFinished\NeJudge\branches\2.0\NeTester\TesterRoot"/>
	</appSettings>
</configuration>