<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<facilities>
		<facility id="rhino.esb" >
			<bus endpoint="rhino.queues://localhost:31338/broker" name="Broker" threadCount="1" />
			<messages>
				<add name="Broker.Common.Messages.Broker" endpoint="rhino.queues://localhost:31338/broker"/>
				<add name="Broker.Common.Messages.Tester" endpoint="rhino.queues://localhost:31337/tester" />
			</messages>
		</facility>
	</facilities>
</castle>