<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="neDatabase" type="Ne.Database.Classes.NeDatabaseConfigurationSection, NeDatabase"/>
		<section name="contestTypeHandlers" type="Ne.ContestTypeHandlers.HandlersConfigurationSection, NeContestTypeHandlers" />
	</configSections>
	
  <system.runtime.remoting>
    <application>
			<lifetime leaseTime="0" />
			<service>
				<wellknown
					type="Ne.Judge.Server.Server, NeJudgeServer"
					objectUri="Server"
					mode="Singleton" />
			</service>
			<channels>
				<channel
					ref="tcp"
					port="8888" />
			</channels>
    </application>
  </system.runtime.remoting>
	
	<log4net>
		<appender name="file" type="log4net.Appender.FileAppender">
			<file value="log.txt" />
			<appendToFile value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-4timestamp %-5level %logger %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="file" />
		</root>
	</log4net>

	<contestTypeHandlers handlersDirectory="C:\DFYZ\Work\Projects\NeJudge\Handlers" />
	<neDatabase connectionString="Server=DFYZ-LAPTOP\SQLEXPRESS;Database=NeJudge;uid=sa;pwd=voxpuibr123;" 
	providerPath="C:\DFYZ\Work\Projects\NeJudge\Providers\MsSqlDataProvider\bin\Debug\Provider.dll" />
</configuration>