<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThermoTools.Config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThermoTools.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ThermoTools.Config>
            <setting name="PortName" serializeAs="String">
                <value />
            </setting>
        </ThermoTools.Config>
    </applicationSettings>
    <userSettings>
        <ThermoTools.Properties.Config>
            <setting name="Frequency" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="CalibratingVoltage1" serializeAs="String">
                <value>2.23</value>
            </setting>
            <setting name="CalibratingVoltage2" serializeAs="String">
                <value>4.23</value>
            </setting>
            <setting name="CalibratingTemperature1" serializeAs="String">
                <value>-50</value>
            </setting>
            <setting name="CalibratingTemperature2" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Type" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="Capacity" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxVoltage" serializeAs="String">
                <value>5</value>
            </setting>
        </ThermoTools.Properties.Config>
    </userSettings>
</configuration>