<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WinBalans.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="username.Text" value="" />
  </appSettings>
  <applicationSettings>
    <WinBalans.Settings1>
      <setting name="Color" serializeAs="String">
        <value />
      </setting>
      <setting name="TextColor" serializeAs="String">
        <value />
      </setting>
      <setting name="DesktopColor1" serializeAs="String">
        <value />
      </setting>
      <setting name="DesktopColor2" serializeAs="String">
        <value />
      </setting>
    </WinBalans.Settings1>
  </applicationSettings>
</configuration>