<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.serviceModel>
		<services>
			<service name="NeTester"
               behaviorConfiguration="NeTesterBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/netester"/>
					</baseAddresses>
				</host>
				<endpoint address="net.tcp://localhost:9000/netester"
									binding="netTcpBinding"
									contract="Ne.Tester.Common.ITester" />
				<endpoint address="mex"
									binding="mexHttpBinding"
									contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="NeTesterBehavior">
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>